@page "/"

<PageTitle>Task Tracking Calendar</PageTitle>

<h3>Task Calendar</h3>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @* @foreach (var task in TaskService.GetTasks()) *@
    @* { *@
    <tr>
        <td>task.Title</td>
        <td>task.DueDate.ToShortDateString()</td>
        <td>task.IsCompleted</td>
        <td>
            <button class="btn btn-primary">Completed || Uncompleted</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
    @* } *@
    </tbody>
</table>
